
# -------------------------------
# Pod: Injects Secret values as environment variables
# -------------------------------
apiVersion: v1
kind: Pod
metadata:
  # Name of the Pod
  name: my-pod-env
spec:
  containers:
  - name: my-container
    # Container image
    image: nginx:stable-alpine

    # Define environment variables from Secret keys
    env:
    - name: SECRET_USERNAME
      valueFrom:
        secretKeyRef:
          # Name of the Secret resource
          name: my-secret
          # Key inside the Secret for username
          key: username

    - name: SECRET_PASSWORD
      valueFrom:
        secretKeyRef:
          # Name of the Secret resource
          name: my-secret
          # Key inside the Secret for password
          key: password

